.card{
    background-color: #f4f4f4;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-design{
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.form-design:hover{
    transition: all 0.5s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
label{
    font-size: 16px;
    color: #000000;
}
input, select{
    margin: auto;
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}
input{
    margin-top: 10px;
}
.form-design button:hover{
    transition: all 0.5s;
    background-color: greenyellow;
    color: rgb(0, 0, 0);
    border: none;
}
h3, h2{
    color: #000000;
    font-size: 20px;
}
.card:hover{
    transition: all 0.5s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.del{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto ;

}
.del:hover{
    transition: all 0.5s;
    background-color: #ff0000;
    color: white;
    border: none;
}	